.hero h1 {
    color: white;
    background-image: url('../../images/hero.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 7vw;
    padding: 50px;
}

hr {
    border: none;
    opacity: 0.2;
    max-width: 1320px;
    margin-top: 100px;
    margin-bottom: 70px;
    background-color: $primary;
}


span {
    color: $secondary;
}


@media screen and (max-width: 576px) {
    .hero h1 { font-size: 8vw; }

}